# Convert Tables
Copy tables from One Note into notebook and format for analysis

In [4]:
### import packages
import pandas as pd

## Convert

Copy table from One Note then run cells below

In [53]:
# read table from clipboard
df_clip=pd.read_clipboard()
# display dataframe
display(df_clip)

  Particle/size Entries (X/Y)   Mean (X/Y) std_dev (X/Y)
0     Pi (10um)     1813/1813  25.95/39.35   2.807/4.786
1     Pi (50um)     1665/1665  26.05/40.33   4.469/5.475
2    Pi (100um)     1613/1613  25.92/39.54   4.020/7.017
3      e (10um)     1782/1782  25.92/40.00   3.418/4.058
4      e (50um)     1536/1536  25.27/39.35   3.833/5.557
5     e (100um)     1463/1463  25.19/39.29   3.720/6.026

### Formatting

Edit dataframe
 - rename columns
 - split x/y data per column

In [54]:
### make copy and rename columns
df_data=df_clip.rename(columns={df_clip.columns[0]: "particle_type", 
                                df_clip.columns[1]: "entries",
                                df_clip.columns[2]: "mean",
                                df_clip.columns[3]: "std_dev",
                                })
### split X/Y data
# copy original dataframe
df_x=df_data.copy(deep=True)
df_x['axis']="X"
df_y=df_data.copy(deep=True)
df_y['axis']="Y"
# define data columns
data_columns=['entries','mean','std_dev']
# loop over data columns
for col in data_columns:
    # split data: x is first (0th element)
    df_x[col]=df_x[col].apply(lambda l: l.split('/')[0])
    # split data: y is second (1th element)
    df_y[col]=df_y[col].apply(lambda l: l.split('/')[1])
# combine dataframes
df_data=pd.concat([df_x,df_y]).reset_index(drop=True)
# ### get energy from particle_type column
# df_data['energy']=df_data['particle_type'].apply(lambda l: l.split('(')[1].split(')')[0])
### get energy from particle_type column
df_data['size']=df_data['particle_type'].apply(lambda l: l.split('(')[1].split('um')[0])
# tidy particle_type column
df_data['particle_type']=df_data['particle_type'].apply(lambda l: l.split('(')[0].strip())
### have a look
display(df_data)

   particle_type entries   mean std_dev axis size
0             Pi    1813  25.95   2.807    X   10
1             Pi    1665  26.05   4.469    X   50
2             Pi    1613  25.92   4.020    X  100
3              e    1782  25.92   3.418    X   10
4              e    1536  25.27   3.833    X   50
5              e    1463  25.19   3.720    X  100
6             Pi    1813  39.35   4.786    Y   10
7             Pi    1665  40.33   5.475    Y   50
8             Pi    1613  39.54   7.017    Y  100
9              e    1782  40.00   4.058    Y   10
10             e    1536  39.35   5.557    Y   50
11             e    1463  39.29   6.026    Y  100

### write to csv

write data to csv, then copy to other notebook

In [55]:
df_data.to_csv(index=False)

'particle_type,entries,mean,std_dev,axis,size\nPi,1813,25.95,2.807,X,10\nPi,1665,26.05,4.469,X,50\nPi,1613,25.92,4.020,X,100\ne,1782,25.92,3.418,X,10\ne,1536,25.27,3.833,X,50\ne,1463,25.19,3.720,X,100\nPi,1813,39.35,4.786,Y,10\nPi,1665,40.33,5.475,Y,50\nPi,1613,39.54,7.017,Y,100\ne,1782,40.00,4.058,Y,10\ne,1536,39.35,5.557,Y,50\ne,1463,39.29,6.026,Y,100\n'