# Convert Tables
Copy tables from One Note into notebook and format for analysis

In [4]:
### import packages
import pandas as pd

## Convert

Copy table from One Note then run cells below

In [35]:
# read table from clipboard
df_clip=pd.read_clipboard()
# display dataframe
display(df_clip)

  Particle/GeV Entries (X/Y)   Mean (X/Y) std_dev (X/Y)
0      Pi (50)     1744/1774  25.49/39.42   3.942/5.454
1     Pi (100)     1713/1713  25.94/39.94   3.293/4.544
2     Pi (150)     1812/1812  25.73/39.22   3.971/6.469
3        e (2)     1759/1759  25.61/39.64   3.581/4.557
4        e (5)     1759/1759  25.99/39.74   3.328/5.153
5       e (10)     1805/1805  26.02/39.80   3.188/5.402

### Formatting

Edit dataframe
 - rename columns
 - split x/y data per column

In [36]:
### make copy and rename columns
df_data=df_clip.rename(columns={df_clip.columns[0]: "particle_type", 
                                df_clip.columns[1]: "entries",
                                df_clip.columns[2]: "mean",
                                df_clip.columns[3]: "std_dev",
                                })
### split X/Y data
# copy original dataframe
df_x=df_data.copy(deep=True)
df_x['axis']="X"
df_y=df_data.copy(deep=True)
df_y['axis']="Y"
# define data columns
data_columns=['entries','mean','std_dev']
# loop over data columns
for col in data_columns:
    # split data: x is first (0th element)
    df_x[col]=df_x[col].apply(lambda l: l.split('/')[0])
    # split data: y is second (1th element)
    df_y[col]=df_y[col].apply(lambda l: l.split('/')[1])
# combine dataframes
df_data=pd.concat([df_x,df_y]).reset_index(drop=True)
### get energy from particle_type column
df_data['energy']=df_data['particle_type'].apply(lambda l: l.split('(')[1].split(')')[0])
# tidy particle_type column
df_data['particle_type']=df_data['particle_type'].apply(lambda l: l.split('(')[0].strip())
### have a look
display(df_data)

   particle_type entries   mean std_dev axis energy
0             Pi    1744  25.49   3.942    X     50
1             Pi    1713  25.94   3.293    X    100
2             Pi    1812  25.73   3.971    X    150
3              e    1759  25.61   3.581    X      2
4              e    1759  25.99   3.328    X      5
5              e    1805  26.02   3.188    X     10
6             Pi    1774  39.42   5.454    Y     50
7             Pi    1713  39.94   4.544    Y    100
8             Pi    1812  39.22   6.469    Y    150
9              e    1759  39.64   4.557    Y      2
10             e    1759  39.74   5.153    Y      5
11             e    1805  39.80   5.402    Y     10

### write to csv

write data to csv, then copy to other notebook

In [37]:
df_data.to_csv(index=False)

'particle_type,entries,mean,std_dev,axis,energy\nPi,1744,25.49,3.942,X,50\nPi,1713,25.94,3.293,X,100\nPi,1812,25.73,3.971,X,150\ne,1759,25.61,3.581,X,2\ne,1759,25.99,3.328,X,5\ne,1805,26.02,3.188,X,10\nPi,1774,39.42,5.454,Y,50\nPi,1713,39.94,4.544,Y,100\nPi,1812,39.22,6.469,Y,150\ne,1759,39.64,4.557,Y,2\ne,1759,39.74,5.153,Y,5\ne,1805,39.80,5.402,Y,10\n'